<!DOCTYPE html>
<html>
<head> 
	<link rel='stylesheet' type = 'text/css' href='submit.css'/>
</head>
<body>
<div class ="info">
	<h1 class = "heading"><div><strong> Contact Updated! </strong></div> </h1>
	<div><strong> Name: <%= gender %>. <%= fname %> <%= lname %> </strong></div>
	<div><strong> Address: <%= street %>, <%= city %>, <%= state %> <%= zip %></strong></div>
	<div><strong> Contact by Phone: <%= phone %> </strong></div>
	<div><strong> Contact by Mail: <%= mail %></strong></div>
	<div><strong> Contact by Email: <%= email %> </strong></div>
	<p><a href = "/contacts"> View list of contacts! </a></p>
</div>

	
</body>
</html>